body {
    background-color: rgb(95, 30, 95);
}

.App {
    background-color: rgb(93, 80, 139);
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
}

#todo-form input {
    background-color: rgb(183, 211, 82);
    border: 0;
    width: 200px;
    height: 35px;
    padding: 0 20px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    color: rgb(3, 15, 0);
}

#todo-form input::placeholder {
    color: rgb(77, 45, 35)
}

#todo-form input:focus {
    outline: none;
}

#todo-form button:focus {
    outline: none;
}

#todo-form button {
    height: 35px;
    width: 55px;
    border-radius: 9px;
    border: 0;
    background-color: rgb(145, 99, 99);
    cursor: pointer;
    font-weight: bolder;
    color: #ffff
}